[project]
	description = This lib tries to make a more clear and unified way of logging stuff in Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Utkarsh Tiwari (DevUt)
[access "refs/for/refs/*"]
	read = group user/Utkarsh Tiwari (DevUt)
	push = group user/Utkarsh Tiwari (DevUt)
	label-Code-Review = -2..+2 group user/Utkarsh Tiwari (DevUt)
	label-Verified = -1..+1 group user/Utkarsh Tiwari (DevUt)
	rebase = group user/Utkarsh Tiwari (DevUt)
	removeReviewer = group user/Utkarsh Tiwari (DevUt)
	submit = group user/Utkarsh Tiwari (DevUt)
[access "refs/heads/*"]
	read = group user/Utkarsh Tiwari (DevUt)
	create = group user/Utkarsh Tiwari (DevUt)
	push = +force group user/Utkarsh Tiwari (DevUt)
	pushMerge = group user/Utkarsh Tiwari (DevUt)
[access "refs/tags/*"]
	push = group user/Utkarsh Tiwari (DevUt)
	push = +force group user/Utkarsh Tiwari (DevUt)
